// border-1px($color)
//   position: relative
//   &:after
//     display: block
//     position: absolute
//     left: 0
//     bottom: 0
//     width: 100%
//     border-top: 1px solid $color
//     content: ' '

// border-none()
//   &:after
//     display: none

// bg-image($url)
//   background-image: url($url + "@2x.png")
//   // background-size center center
//   background-size 100% 100%
//   background-repeat no-repeat
//   background-position center
//   // @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
//     // background-image: url($url + "@3x.png")
  

// rem($px){
//   return $px / 75 * 1rem;
// }

// text-over($num)
//  	display: -webkit-box;
//  	-webkit-line-clamp: $num;
//  	-webkit-box-orient: vertical;
//   overflow hidden

// color($color){
//   color: #999
// }

// background-color($color){
//   background-color: #999
// }

// // font-size($px){
// //   font-size: $px
// // }

// $font-qqqq = 'font-Black'

// font-EN36($en){
//   // font-family: 'font-Black'
//   font-family: $en
  
//   // 'font-Black'
// }

// font-Light(){
//   font-family: 'font-Light'
//   // 'font-Light'
// }

// font-Normal(){
//   font-family: 'font-Normal'
// }

// font-Regular(){
//   font-family: 'font-Regular'
// }

// box-shadow($px1, $px2, $px3, $px4, $color){
//   box-shadow 1px 1px 20px 1px rgba(36, 64, 178, 0.2)
// }
