//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

// 结构
$conterWidth: 1200px;
$appMainBgEF:#EFEFEF;


// 字体颜色
$fontColor666:#666;
$fontColor333:#333;
$fontColorFFF:#FFF;
$fontColor30:#303030;
$fontColorC4:#C4C4C4;
$red: red;
$bodyBg:#EFEFEF;
// 边框
$borderLeftColor:#D43434;
$borderbottomColor:#1D2088;
$borderColorDF:#DFDFDF;
$borderRadius15:15px;


// 字体大小
$fontSize48:48px;
$fontSize16:16px;
$fontSize24:24px;
$fontSize28:28px;

// 按钮颜色
$btnColorFF85:#FF8500;

// 阴影
$boxshadow009:rgba(0,0, 0, 0.09);
$boxshadow000:rgba(0, 0, 0, 0.1);
